<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
 
  <appSettings>
    <add key="pathToFolder" value="C:\Automation\game\automation-frontend\ProjectSpecific\PageObjects"/>
    <add key="startUrl" value="https://int02-web.sharpgaming.net/"/>
  </appSettings>
</configuration>